.languageButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.4rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.languageButton:focus-visible {
  outline: 2px solid var(--accent-color);
  outline-offset: 2px;
}

.languageButton:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.flagContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: 28px;
  height: 28px;
  overflow: hidden;
}

.flag {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  transition: all 0.3s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.active {
  transform: translateY(0) scale(1);
  opacity: 1;
}

.inactive {
  transform: translateY(100%) scale(0.5);
  opacity: 0;
}

@media (max-width: 768px) {
  .flagContainer {
    width: 24px;
    height: 24px;
  }
  
  .flag {
    font-size: 1.2rem;
  }
} 